* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("assets/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
}

nav img {
    color: red;
    width: 109px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}
